BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
BreakBeforeBraces: Allman
AlignAfterOpenBracket: DontAlign
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 0
TabWidth: 2
AccessModifierOffset: -2
PointerAlignment: Left
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: Inline
MaxEmptyLinesToKeep: 3
NamespaceIndentation: All
BreakConstructorInitializers: BeforeComma
AlwaysBreakTemplateDeclarations: true
AlignTrailingComments: true
FixNamespaceComments: true